@model CarForRent.Models.SearchingFilter

@using (Html.BeginForm("Index", "SearchingFilter"))
{
     <div class="span3 SearchingPanel NoneLeftOffset">
         <h3>
             Поиск автомобилей
         </h3>
         <div>
             <table class="SearchingTable" style="width: 100%;">
                 <tr>
                     <td class="searchLabel">Марка
                     </td>
                     <td>
                         @{
                             var item1 = new SelectListItem();
                             item1.Text = item1.Value = "Audi";
                             List<SelectListItem> items = new List<SelectListItem>(){item1};
                             Html.DropDownListFor(filter => filter.Mark, new List<SelectListItem>(items));
                         }
                     </td>
                 </tr>
                 <tr>
                     <td class="searchLabel">Модель
                     </td>
                     <td>
                         @Html.TextBoxFor(m => m.Model)</td>
                 </tr>
                 <tr>
                     <td class="searchLabel">Год выпуска
                     </td>
                     <td>
                         @Html.TextBoxFor(m => m.YearOfManufacture)</td>
                 </tr>
                 <tr>
                     <td class="searchLabel">Количество мест
                     </td>
                     <td>
                         @Html.TextBoxFor(m => m.PlacesCount)
                     </td>
                 </tr>

                 <tr>
                     <td class="searchLabel">Объем двигателя
                     </td>
                     <td>
                         @Html.TextBoxFor(m => m.EngineVolume)</td>
                 </tr>
                 <tr>
                     <td class="searchLabel">Тип двигателя
                     </td>
                     <td>
                         @Html.TextBoxFor(m => m.EngineType)</td>
                 </tr>
                 <tr>
                     <td class="searchLabel">Класс авто
                     </td>
                     <td id="idClass">
                         @Html.TextBoxFor(m => m.AutoClass)</td>
                 </tr>
                 <tr>
                     <td class="searchLabel">Тип топлива
                     </td>
                     <td>
                         @Html.TextBoxFor(m => m.FuelType)
                     </td>
                 </tr>
                 <tr>
                     <td class="searchLabel">Коробка передач
                     </td>
                     <td>
                         @Html.TextBoxFor(m => m.GearboxType)
                     </td>
                 </tr>
                 
                 <tr>
                     <td class="searchLabel">Цена дол.$/сутки
                     </td>
                     <td>
                         @Html.TextBoxFor(m => m.Price)
                     </td>
                 </tr>
             </table>

             <input type="submit" id="FilterButton" class="btn-large btn-primary buttonSearch"  value="Поиск" />
         </div>
     </div>
}
