@model CarForRent.Models.UserProfile

@{
    ViewBag.Title = "Редактирование личной информации";
}

<h2> Редактирование персональных данных </h2>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend></legend>

            @Html.HiddenFor(model => model.UserId)

            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.UserFirstName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserFirstName)
                @Html.ValidationMessageFor(model => model.UserFirstName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.UserLastName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserLastName)
                @Html.ValidationMessageFor(model => model.UserLastName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.UserMidleName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserMidleName)
                @Html.ValidationMessageFor(model => model.UserMidleName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PassportNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PassportNumber)
                @Html.ValidationMessageFor(model => model.PassportNumber)
            </div>

            <div style="padding-top: 10px; margin-bottom: 30px">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            </div>

        </fieldset>
    }

    <div >
        @Html.ActionLink("Вернуться к списку", "Index", "ManageAccount",new { @class = "btn" })
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

