@using PagedList.Mvc
@model PagedList.IPagedList<CarForRent.Models.Auto>


    <ul class="CarsList">

        @foreach (var item in Model)
        {
            <li>
                <div class="Car">
                    <div class="CarsImageDiv">
                        <img class="img-rounded" src="@CarForRent.Helpers.UrlBuilder.BuildAutoImageUrl(item.ImageFileName)"/>
                    </div>
                    <div class="CarRecordDiv">
                        <ul class="CarRecord">
                            <li>
                                <input type="hidden" class="CarId" value="@item.AutoId" />
                            </li>
                        
                            <li class="AutoInformation">
                                <div class="DivHeaders">Марка: </div>
                                <div>
                                    @Html.DisplayFor(modelItem => item.Mark)
                                </div>
                            </li>
                            <li class="AutoInformation">
                                <div class="DivHeaders">Модель: </div>
                                <div>
                                    @Html.DisplayFor(modelItem => item.Model)
                                </div>
                            </li>
                            <li class="AutoInformation">
                                <div class="DivHeaders">Класс автомобиля: </div>
                                <div>@Html.DisplayFor(modelItme => item.AutoClass.ClassTitle)</div>
                            </li>
                            @if (User.IsInRole("Administrator") && Html.ViewContext.Controller.ControllerContext.RouteData.GetRequiredString("controller") == "CmsAuto")
                            {
                                <li class="AutoInformation">
                                    <div class="DivHeaders">
                                        Количество: 
                                    </div>
                                    <div>
                                        @Html.DisplayFor(modelItme => item.AutoCount)
                                    </div>
                                </li>
                            }
                            <li class="AutoInformation">
                                <div class="DivHeaders">Цена дол.$/сутки: </div>
                                <div>@Html.DisplayFor(modelItem => item.Price)</div>
                            </li>

                            <li class="AutoInformation" style="vertical-align: middle">

                                @Html.ActionLink("Заказать", "Create", "Order", new { id = item.AutoId }, new { @class = "btn linkButton btn-small" })
                                @if (User.IsInRole("Administrator") && Html.ViewContext.Controller.ControllerContext.RouteData.GetRequiredString("controller") == "CmsAuto")
                                {
                                    @Html.ActionLink("Редактировать", "Edit", "CmsAuto", new { id = item.AutoId }, new { @class = "btn linkButton btn-small" })
                                    @Html.ActionLink("Удалить", "Delete", "CmsAuto", new { id = item.AutoId }, new { @class = "btn linkButton btn-small" })
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        }

    </ul>

    <div style="text-align: center;">

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                             new PagedListRenderOptions
                                 {
                                     LinkToFirstPageFormat = "<<",
                                     LinkToPreviousPageFormat = "Вперед",
                                     LinkToNextPageFormat = "Назад",
                                     LinkToLastPageFormat = ">>"
                                 })

    </div>

