@model CarForRent.Models.Order

@{
    ViewBag.Title = "Заказать автомобиль";
}

<h2>Заказ автомобиля</h2>

<div class="container">
    <h2>Характеристики автомобиля</h2>
    <table class="table table-bordered myTable">
        <tr>
            <td>
                <h3>ФОТО </h3>
            </td>

            <td>
                <a href="#" onclick="OpenNewWindow('@CarForRent.Helpers.UrlBuilder.BuildAutoImageUrl((String)ViewBag.CurrentAuto.ImageFileName)', 700, 500); return true;">
                    <img class = "img-rounded" src="@CarForRent.Helpers.UrlBuilder.BuildAutoImageUrl((String)ViewBag.CurrentAuto.ImageFileName)"/>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Марка автомобиля:</h4>
            </td>
            <td>
                <h4>@ViewBag.CurrentAuto.Mark</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Модель автомобиля:</h4>
            </td>
            <td>
                <h4>@ViewBag.CurrentAuto.Model</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Номера автомобиля:</h4>
            </td>
            <td>
                <h4>@ViewBag.CurrentAuto.Number</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Год выпуска:</h4>
            </td>
            <td>
                <h4>@ViewBag.CurrentAuto.YearOfManufacture</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Количество мест</h4>
            </td>
            <td>
                <h4>@ViewBag.CurrentAuto.PlacesCount</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Объем двигателя</h4>
            </td>
            <td>
                <h4>@ViewBag.CurrentAuto.EngineVolume</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Цена дол.$/сутки</h4>
            </td>
            <td>
                <h4>@ViewBag.CurrentAuto.Price</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Тип двигателя </h4>
            </td>
            <td>
                <h4>@ViewBag.CurrentAuto.EngineType.EngineTypeTitle</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Класс автомобиля</h4>
            </td>
            <td>
                <h4>@ViewBag.CurrentAuto.AutoClass.ClassTitle</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Тип топлива</h4>
            </td>
            <td>
                <h4>@ViewBag.CurrentAuto.FuelType.FuelTypeTitle</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Тип коробки передач</h4>
            </td>
            <td>
                <h4>@ViewBag.CurrentAuto.GearboxType.GearboxTypeTitle</h4>
            </td>
        </tr>
    </table>

    <h3>Для заказа автомобиля вы должны указать количество суток проката:
    </h3>


    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        @Html.Hidden("AutoId", (int)ViewBag.CurrentAuto.AutoId)

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderDuration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderDuration)
            @Html.ValidationMessageFor(model => model.OrderDuration)
        </div>
        <div>
            <input type="submit" value="Заказать автомобиль" class="btn btn-primary btn-large" />
        </div>
        <div style="margin-top: 30px;">
            @Html.ActionLink("Вернуться к списку", "Index", "CmsAuto", null, new { @class = "btn" })
        </div>

    }




</div>

@section Scripts 
    {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function OpenNewWindow(bigurl, width, height) {
            var newWindow = window.open("", "pictureViewer",
                "location=no, directories=no, fullscreen=no, " +
                "menubar=no, status=no, toolbar=no, width=" +
                width + ", height=" + height + ", scrollbars=no");
            newWindow.document.writeln("<html>");
            newWindow.document.writeln("<body style='margin: 0 0 0 0;'>");
            newWindow.document.writeln("<a href='javascript:window.close();'>");
            newWindow.document.writeln("<img src='" + bigurl +
               "' alt='Click to close' id='bigImage'/>");
            newWindow.document.writeln("</a>");
            newWindow.document.writeln("</body></html>");
            newWindow.document.close();
        }
    </script>
}
