@model CarForRent.Models.Order

@{
    ViewBag.Title = "Order details";
}

<h2>Order details</h2>

<fieldset>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderDuration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderDuration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsOpen)
    </div>
    <div class="display-field">
        @if (Model.IsOpen)
        {
            <div>Yes</div>
        }
        else
        {
            <div>No</div>
        }
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Auto.Mark)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auto.Mark)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Client.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Client.UserName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class="btn"})
</p>
