@model IEnumerable<CarForRent.Models.Order>

@{
    ViewBag.Title = "Управление заказами";
}

<h2>Управление заказами</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auto.Mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auto.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOpen)
            </th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auto.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auto.Model)
            </td>
            <td>
                @if (item.IsOpen)
                {
                    <div>Да</div>
                }
                else
                {
                    <div>Нет</div>
                }
            </td>
            <td>
                @Html.ActionLink("Подробно", "Details", new { id = item.OrderId }) | @Html.ActionLink("Редактировать", "Edit", new { id = item.OrderId })
            </td>
        </tr>
    }

</table>


@section Scripts
{

}
