@model IEnumerable<CarForRent.Models.Order>

@{
    ViewBag.Title = "Orders management";
}

<h2>Orders management</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auto.Mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOpen)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auto.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.UserName)
            </td>
            <td>
                @if (item.IsOpen)
                {
                    <div>Yes</div>
                }
                else
                {
                    <div>No</div>
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.OrderId })
            </td>
        </tr>
    }

</table>
