@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Administrator"))
    {
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">CMS<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Auto Management", "Index", "CmsAuto")</li>
            <li>@Html.ActionLink("Uset Profiles Management", "Index", "CmsUserProfile")</li>
            <li>@Html.ActionLink("Orders Management", "Index", "CmsOrder")</li>
        </ul>
    </li>
    }
    <li style="padding-left: 15px;">
        <p class="navbar-text pull-right"> 
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })! 
        </p>
    </li>
    <li style="padding-left: 20px;">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <p class="navbar-text pull-right">
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </p>
        }
    </li>
}
else
{
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
