@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Administrator"))
    {
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">АДМИНИСТРИРОВАНИЕ<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Управление автомобилями", "Index", "CmsAuto")</li>
            <li>@Html.ActionLink("Управление пользователями", "Index", "CmsUserProfile")</li>
            <li>@Html.ActionLink("Управление заказами", "Index", "CmsOrder")</li>
        </ul>
    </li>
    }
    <li style="padding-left: 15px;" class="dropdown">

        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            ЛИЧНЫЙ КАБИНЕТ 
             <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Персональная информация", "Index", "ManageAccount")</li>
            <li>@Html.ActionLink("Изменить пароль", "ManagePassword", "Account")</li>
            <li>@Html.ActionLink("Мои заказы", "Index", "Order")</li>
        </ul>

    </li>
    <li style="padding-left: 20px;">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <p class="navbar-text pull-right">
                <a href="javascript:document.getElementById('logoutForm').submit()">ВЫЙТИ</a>
            </p>
        }
    </li>
}
else
{
    <li>@Html.ActionLink("РЕГИСТРАЦИЯ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("ВОЙТИ В СИСТЕМУ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
