@model CarForRent.Models.UserProfile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User Profile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserFirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserMidleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserMidleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserLastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserLastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PassportNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PassportNumber)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
