@model CarForRent.Models.UserProfile

@{
    ViewBag.Title = "Информация о пользователе";
}

<h2>Персональная информация пользователя</h2>

<table class="table table-bordered">
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.UserName)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.UserName)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.UserFirstName)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.UserFirstName)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.UserMidleName)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.UserMidleName)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.UserLastName)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.UserLastName)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.PassportNumber)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.PassportNumber)
            </div>
        </td>
    </tr>
</table>
<div style="margin-top: 30px; margin-bottom: 30px">
    @Html.ActionLink("Редактировать информацию", "Edit", new { id = Model.UserId }, new { @class = "btn btn-primary" })
</div>
<div>
     @Html.ActionLink("Вернуться к списку пользователей", "Index",null, new { @class = "btn" })
</div>
