@model CarForRent.Models.UserProfile

@{
    ViewBag.Title = "Edit user";
}

<h2>Edit user</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        @Html.Hidden("id", (int)ViewBag.AutoId)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.UserName)
        <div class="editor-label">
            @Html.LabelFor(model => model.UserFirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserFirstName)
            @Html.ValidationMessageFor(model => model.UserFirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserMidleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserMidleName)
            @Html.ValidationMessageFor(model => model.UserMidleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserLastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserLastName)
            @Html.ValidationMessageFor(model => model.UserLastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PassportNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PassportNumber)
            @Html.ValidationMessageFor(model => model.PassportNumber)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
