@model CarForRent.Models.UserProfile

@{
    ViewBag.Title = "Редактировать данные пользователя";
}

<h2>Редактировать данные пользователя</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    
@*@Html.Hidden("id", (int)ViewBag.AutoId)*@
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.UserName)
    
    <table>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserFirstName)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserFirstName)
                    @Html.ValidationMessageFor(model => model.UserFirstName)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserMidleName)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserMidleName)
                    @Html.ValidationMessageFor(model => model.UserMidleName)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserLastName)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserLastName)
                    @Html.ValidationMessageFor(model => model.UserLastName)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.PassportNumber)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PassportNumber)
                    @Html.ValidationMessageFor(model => model.PassportNumber)
                </div>
            </td>
        </tr>

    </table>
}

<div style="margin-top: 30px; margin-bottom: 30px">
    <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
</div>

<div>
    @Html.ActionLink("Вернуться к списку пользователей", "Index", null, new { @class = "btn" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
