@using PagedList.Mvc
@model PagedList.IPagedList<CarForRent.Models.UserProfile>

@{
    ViewBag.Title = "User management";
}

<h2>User management</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].UserFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].UserMidleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].UserLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].PassportNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserMidleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
                @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
            </td>
        </tr>
    }

</table>
<div style="text-align: center;">

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), 
                                 new PagedListRenderOptions { LinkToFirstPageFormat = "<<", 

                                                              LinkToPreviousPageFormat = "Back",

                                                              LinkToNextPageFormat = "Forward",

                                                              LinkToLastPageFormat = ">>" })

        </div>
