@model CarForRent.Models.Auto

@{
    ViewBag.Title = "Auto details";
}

<div class="container">
    <div style="width: 520px">
        <h2>Информация об автомобиле</h2>
        <table class="table table-bordered">
            <tr>
                <td colspan="2">
                    <div>
                        <a href="#" onclick="OpenNewWindow('@CarForRent.Helpers.UrlBuilder.BuildAutoImageUrl(Model.ImageFileName)', 700, 500); return true;">
                            <img class = "img-rounded" src="@CarForRent.Helpers.UrlBuilder.BuildAutoImageUrl(Model.ImageFileName)"/>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.DisplayNameFor(model => model.Mark):
                    </div>
                </td>
                <td>
                    <div>
                        @Html.DisplayTextFor(model => model.Mark)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.DisplayNameFor(model => model.Model):
                    </div>
                </td>
                <td>
                    <div>
                        @Html.DisplayTextFor(model => model.Model)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.DisplayNameFor(model => model.Number):
                    </div>
                </td>
                <td>
                    <div>
                        @Html.DisplayTextFor(model => model.Number)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.DisplayNameFor(model => model.YearOfManufacture):
                    </div>
                </td>
                <td>
                    <div>
                        @Html.DisplayTextFor(model => model.YearOfManufacture)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.DisplayNameFor(model => model.PlacesCount):
                    </div>
                </td>
                <td>
                    <div>
                        @Html.DisplayTextFor(model => model.PlacesCount)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.DisplayNameFor(model => model.EngineVolume):
                    </div>
                </td>
                <td>
                    <div>
                        @Html.DisplayTextFor(model => model.EngineVolume)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.DisplayNameFor(model => model.Price):
                    </div>
                </td>
                <td>
                    <div>
                        @Html.DisplayTextFor(model => model.Price)
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div>
                        @Html.DisplayNameFor(model => model.EngineType.EngineTypeTitle):
                    </div>
                </td>
                <td>
                    <div>
                        @Html.DisplayTextFor(model => model.EngineType.EngineTypeTitle)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.DisplayNameFor(model => model.AutoClass.ClassTitle):
                    </div>
                </td>
                <td>
                    <div>
                        @Html.DisplayTextFor(model => model.AutoClass.ClassTitle)
                    </div>
                </td>
            </tr>
            @if (User.IsInRole("Administrator") && Html.ViewContext.Controller.ControllerContext.RouteData.GetRequiredString("controller") == "CmsAuto")
            {
                <tr>
                    <td>
                        <div>
                            @Html.DisplayNameFor(model => model.AutoCount): 
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.DisplayFor(model => model.AutoCount)
                        </div>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <div>
                        @Html.DisplayNameFor(model => model.FuelType.FuelTypeTitle):
                    </div>
                </td>
                <td>
                    <div>
                        @Html.DisplayTextFor(model => model.FuelType.FuelTypeTitle)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.DisplayNameFor(model => model.GearboxType.GearboxTypeTitle):
                    </div>
                </td>
                <td>
                    <div>
                        @Html.DisplayTextFor(model => model.GearboxType.GearboxTypeTitle)
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>
    <div style="margin-left: 34px">
        @Html.ActionLink("Заказать", "Create", "Order", new { autoId = Model.AutoId }, new { @class = "btn btn-large btn-primary" })
    </div>

@section Scripts
{
    <script type="text/javascript">
        function OpenNewWindow(bigurl, width, height) {
            var newWindow = window.open("", "pictureViewer",
                "location=no, directories=no, fullscreen=no, " +
                "menubar=no, status=no, toolbar=no, width=" +
                width + ", height=" + height + ", scrollbars=no");
            newWindow.document.writeln("<html>");
            newWindow.document.writeln("<body style='margin: 0 0 0 0;'>");
            newWindow.document.writeln("<a href='javascript:window.close();'>");
            newWindow.document.writeln("<img src='" + bigurl +
               "' alt='Click to close' id='bigImage'/>");
            newWindow.document.writeln("</a>");
            newWindow.document.writeln("</body></html>");
            newWindow.document.close();
        }
    </script>
}