@model CarForRent.Models.Auto

@{
    ViewBag.Title = "Details";
}



<div class="container">
    <h2>Auto details</h2>

    <div class="displayField">
        <img class = "img-rounded" src="@CarForRent.Helpers.UrlBuilder.BuildAutoImageUrl(Model.ImageFileName)"/>
    </div>
    <ul class="ElementsBlock">
        <li>
            <div class="displayLabel">
                Mark auto:
            </div>
            <div class="displayField">
                @Html.DisplayTextFor(model => model.Mark)
            </div>
        </li>
        <li>
            <div class="displayLabel">
                Model auto:
            </div>
            <div class="displayField">
                @Html.DisplayTextFor(model => model.Model)
            </div>
        </li>
        <li>
            <div class="displayLabel">
                Numbers auto:
            </div>
            <div class="displayField">
                @Html.DisplayTextFor(model => model.Number)
            </div>
        </li>
        <li>
            <div class="displayLabel">
                Year of manufacture:
            </div>
            <div class="displayField">
                @Html.DisplayTextFor(model => model.YearOfManufacture)
            </div>
        </li>
        <li>
            <div class="displayLabel">
                Places count:
            </div>
            <div class="displayField">
                @Html.DisplayTextFor(model => model.PlacesCount)
            </div>
        </li>
        <li>
            <div class="displayLabel">
                Engine volume:
            </div>
            <div class="displayField">
                @Html.DisplayTextFor(model => model.EngineVolume)
            </div>
        </li>
        <li>
            <div class="displayLabel">
                Price:
            </div>
            <div class="displayField">
                @Html.DisplayTextFor(model => model.Price)
            </div>
        </li>
        <li>
            <div class="displayLabel">
                Count:
            </div>
            <div class="displayField">
                @Html.DisplayTextFor(model => model.AutoCount)
            </div>
        </li>
        <li>
            <div class="displayLabel">
                Engine type:
            </div>
            <div class="displayField">
                @Html.DisplayTextFor(model => model.EngineType.EngineTypeTitle)
            </div>
        </li>
        <li>
            <div class="displayLabel">
                Auto class:
            </div>
            <div class="displayField">
                @Html.DisplayTextFor(model => model.AutoClass.ClassTitle)
            </div>
        </li>
        <li>
            <div class="displayLabel">
                Fuel type:
            </div>
            <div class="displayField">
                @Html.DisplayTextFor(model => model.FuelType.FuelTypeTitle)
            </div>
        </li>
        <li>
            <div class="displayLabel">
                Gearbox type:
            </div>
            <div class="displayField">
                @Html.DisplayTextFor(model => model.GearboxType.GearboxTypeTitle)
            </div>
        </li>

    </ul>
</div>
<p>
    @Html.ActionLink("Back to Home", "Index")
</p>
