@using PagedList.Mvc
@using CarForRent.Models
@model PagedList.IPagedList<CarForRent.Models.Auto>


@if (Html.ViewContext.Controller.ControllerContext.RouteData.GetRequiredString("controller") != "CmsAuto")
{
    <div style="margin-bottom: 30px;">
        <img src="~/Images/HeadImages/head.jpg">
    </div>
    <div style="text-align: center;  margin-bottom: 30px">
        <h1 style="color: #272b30;">Прокат и аренда автомобилей в Минске</h1>
    </div>
    
}
else
{
    <h2>Страница администратора </h2>
}

<div class="container-fluid ">
    
    @{
        Html.RenderAction("GetIndex", "SearchingFilter");
    }

    <div class="span9 AutoList">
        <h3> Ассортимент  автомобилей
        </h3>
        @if (User.IsInRole("Administrator") && Html.ViewContext.Controller.ControllerContext.RouteData.GetRequiredString("controller") == "CmsAuto")
        {
            @Html.ActionLink("Добавить авто", "Create", "CmsAuto", null, new { @class = "btn" })
        }
        <ul class="CarsList">
            @foreach (var item in Model)
            {
                <li>

                    <table>
                        <tr>
                            <td>
                                <div class="CarsImageDiv">
                                    <img class="img-rounded" src="@CarForRent.Helpers.UrlBuilder.BuildAutoImageUrl(item.ImageFileName)"/>
                                </div>
                            </td>

                            <td>
                                <input type="hidden" class="CarId" value="@item.AutoId" />
                            </td>

                            <td>
                                <div class="DivHeaders">Марка: </div>
                                <div>
                                    @Html.DisplayFor(modelItem => item.Mark)
                                </div>
                            </td>

                            <td>
                                <div class="DivHeaders">Модель: </div>
                                <div>
                                    @Html.DisplayFor(modelItem => item.Model)
                                </div>
                            </td>

                            <td>
                                <div class="DivHeaders">Класс: </div>
                                <div>@Html.DisplayFor(modelItme => item.AutoClass.ClassTitle)</div>
                            </td>

                            @if (User.IsInRole("Administrator") && Html.ViewContext.Controller.ControllerContext.RouteData.GetRequiredString("controller") == "CmsAuto")
                            {
                                <td class="AutoInformation">
                                    <div class="DivHeaders">
                                        Количество: 
                                    </div>
                                    <div>
                                        @Html.DisplayFor(modelItme => item.AutoCount)
                                    </div>
                                </td>
                            }

                            <td>
                                <div class="DivHeaders">Цена($/сутки): </div>
                                <div>@Html.DisplayFor(modelItem => item.Price)</div>
                            </td>

                            <td class="AutoInformation" style="vertical-align: middle">
                                
                                @if (!(User.IsInRole("Administrator") && Html.ViewContext.Controller.ControllerContext.RouteData.GetRequiredString("controller") == "CmsAuto"))
                                {
                                    @Html.ActionLink("Заказать", "Create", "Order", new { autoId = item.AutoId }, new { @class = "btn linkButton btn-small" })
                                }
                                
                                @Html.ActionLink("Подробно", "Details", "Auto", new { autoId = item.AutoId }, new { @class = "btn linkButton btn-small" })

                                @if (User.IsInRole("Administrator") && Html.ViewContext.Controller.ControllerContext.RouteData.GetRequiredString("controller") == "CmsAuto")
                                {
                                    @Html.ActionLink("Редактировать", "Edit", "CmsAuto", new { id = item.AutoId }, new { @class = "btn linkButton btn-small" })
                                    @Html.ActionLink("Удалить", "Delete", "CmsAuto", new { id = item.AutoId }, new { @class = "btn linkButton btn-small" })
                                }

                            </td>

                        </tr>
                    </table>

                </li>
            }

        </ul>

        <div style="text-align: center;">

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                                 new PagedListRenderOptions
                                 {
                                     LinkToFirstPageFormat = "<<",
                                     LinkToPreviousPageFormat = "Назад",
                                     LinkToNextPageFormat = "Вперед",
                                     LinkToLastPageFormat = ">>"
                                 })

        </div>
    </div>
</div>


@section Scripts
{
    <script src="@Scripts.Url("~/Scripts/AutoBitch.js")" type="text/javascript">   
    </script>
}