@model IEnumerable<CarForRent.Models.Auto>

<div id="headImage">
    <header id="overview" class="jumbotron subhead">
        <div class="container">
            <h1>@ViewBag.Title</h1>
            <p class="lead">
                This is an online car rental system. 
                On our website you can order a car for every taste at an affordable price.
            </p>
        </div>
    </header>
</div>

<hr>

<div class="container-fluid">
    <div class="span3 SearchingPanel">
        <h3>Searching panel </h3>
    </div>

    <div class="span9 AutoList">
        <h3>Auto list</h3>
        @if (User.IsInRole("Administrator") && Html.ViewContext.Controller.ControllerContext.RouteData.GetRequiredString("controller") == "CmsAuto")
        {
            @Html.ActionLink("Add auto", "Create", "CmsAuto", null, new { @class = "btn" })
        }
        <ul class="CarsList">
            @foreach (var item in Model)
            {
                <li>
                    <div class="Car">
                        <div class="CarsImageDiv">
                            <img class="img-rounded" src="@CarForRent.Helpers.UrlBuilder.BuildAutoImageUrl(item.ImageFileName)"/>
                        </div>
                        <div class="CarRecordDiv">
                            <ul class="CarRecord">
                                <li>
                                    <input type="hidden" class="CarId" value="@item.AutoId" />
                                </li>

                                <li class="AutoInformation">
                                    <div class="DivHeaders">Mark: </div>
                                    <div>
                                        @Html.DisplayFor(modelItem => item.Mark)
                                    </div>
                                </li>
                                <li class="AutoInformation">
                                    <div class="DivHeaders">Model: </div>
                                    <div>
                                        @Html.DisplayFor(modelItem => item.Model)
                                    </div>
                                </li>
                                <li class="AutoInformation">
                                    <div class="DivHeaders">Class auto: </div>
                                    <div>@Html.DisplayFor(modelItme => item.AutoClass.ClassTitle)</div>
                                </li>
                                @if (User.IsInRole("Administrator") && Html.ViewContext.Controller.ControllerContext.RouteData.GetRequiredString("controller") == "CmsAuto")
                                {
                                    <li class="AutoInformation">
                                        <div class="DivHeaders">
                                            Count: 
                                        </div>
                                        <div>
                                            @Html.DisplayFor(modelItme => item.AutoCount)
                                        </div>
                                    </li>
                                }
                                <li class="AutoInformation">
                                    <div class="DivHeaders">Price: </div>
                                    <div>@Html.DisplayFor(modelItem => item.Price)</div>
                                </li>

                                <li class="AutoInformation" style="vertical-align: middle">

                                    @Html.ActionLink("Order", "Create", "Order", new { id = item.AutoId }, new { @class = "btn linkButton" })
                                    @if (User.IsInRole("Administrator") && Html.ViewContext.Controller.ControllerContext.RouteData.GetRequiredString("controller") == "CmsAuto")
                                    {
                                        @Html.ActionLink("Edit", "Edit", "CmsAuto", new { id = item.AutoId }, new { @class = "btn linkButton" })
                                        @Html.ActionLink("Delete", "Delete", "CmsAuto", new { id = item.AutoId }, new { @class = "btn linkButton" })
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            }

        </ul>
    </div>
</div>


@section Scripts
{
    <script src="@Scripts.Url("~/Scripts/AutoBitch.js")" type="text/javascript"></script>
}