@model IEnumerable<CarForRent.Models.Auto>

@{
    ViewBag.Title = "Auto management";
}

<h2>Auto management</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GearboxType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfManufacture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlacesCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineVolume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageFileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItme => item.AutoClass.ClassTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItme => item.EngineType.EngineTypeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItme => item.GearboxType.GearboxTypeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItme => item.FuelType.FuelTypeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfManufacture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AutoId }) |
            @Html.ActionLink("Details", "Details", new { id = item.AutoId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AutoId })
            </td>
        </tr>
    }

</table>
